<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title_name %}Events{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/styles.css' %}">
  </head>
  <body>
    <div class="navigation-container">
      <div class="nav">
        <ul class="nav-list">
          {% if site_user %}
          <li><a href="#">My Dashboard</a></li>
          {% endif %}
          <li><a href="#">Shop</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% block customscripts %}
    {% endblock %}
  </body>
</html>
