// out: ../dist/css/main.css, compress: true
@primary-color: #3867d6;
@secondary-color: #45aaf2;
@third-color: #4b6584;
@primary-bg-color: #fff;
@secondary-bg-color: #2C3A47;
@light-color: #f1f2f6;

h1, h2, h3, h4, h5, h6, b, strong {
  color: @primary-color;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: @secondary-color;
  transition: ease .5s;
  &:hover {
    color: lighten(@secondary-color, 15%);
    text-decoration: none;
  }
}
.btn-primary {
  background: @primary-color;
  border-color: darken(@primary-color, 10%);
  &:hover {
    background: lighten(@primary-color, 15%);
    border-color: lighten(@primary-color, 10%);
  }
}
.container, .container-fluid {
  background-color: @primary-bg-color;
}
.navbar {
  height: 30px;
  font-size: small;
}
.navbar-custom {
  background: @secondary-bg-color;
}
body {
  background: @primary-bg-color;
}
.jumbotron {
  background: #fff;
}

@import 'main/general.less';
@import 'userdash.less';
