{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Create Your new Event</h1>
        <h3>Choose a category of event and start inviting guests</h3>
        <p>Prices starting at $5, you can create a weboage for your event, which can be either a wedding, birthday party, or event a business mixer. Create any event and invite whoever you want.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
